# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist

# Node / JS
node_modules/
dist/
build/
.env
.env.local
.DS_Store

# Hardhat / Truffle / Foundry
artifacts/
cache/
coverage/
typechain/
*.db

# Editor / OS
.vscode/
.idea/
*.log
